.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-details-name {
  font-size: 22px;
  font-family: "Poppins SemiBold";
}

.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}

.profile-details-role h1 {
  font-size: 38px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.primary-text {
  color: (--white);
}

.highlighted-text {
  color: var(--dark-orange);
}
.profile-role-tagline {
  font-size: 18px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}
.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn :hover {
  margin: 0 0 0 28px;
  background-color: black;
  color: cornsilk;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0 0 100px;
  box-shadow: 0 1.2px 0 0 var(--white);
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url(../../../assets/Home/profile2.png);
  background-size: cover;
  border-radius: 50%;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.colz-icon{
  color: aqua;
}
.colz .colz-icon a i {


  color: rgba(235, 233, 230, 0.993);
  padding: 14px;
  padding-left: 0;
  font-size: 26px;
}

.colz .colz-icon i:hover {
  transform: scale(1.4);
}

@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0 0 80px;
  }

  .profile-details-name {
    font-size: 20px;
  }

  .profile-details-role .primary-text {
    font-size: 12px;
  }

  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}

@media screen and (max-width: 910px) {
  .profile-picture {
    margin: 0 0 0 4px;
    height: 320px;
    width: 320px;
  }
}

@media only screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .proflie-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .proflie-details {
    width: 95%;
  }
}
