.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 0;
  /* margin-top: 20px; */
}
.scroll__up__container {
  display: flex;
  align-self: end;
  margin-right: 34px;
  font-size: 20px;
  background-color: #f3810ff4;
  border-radius: 5px;
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.scroll__up__container__contact {
  display: flex;
  align-self: end;
  background-color: #f3810ff4;
  border-radius: 5px;
  z-index: 5;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
}
.scroll__up__container__testi {
  /* display: flex;
  align-self: end; */
  background-color: #f3810ff4;
  border-radius: 5px;
  z-index: 5;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 40px;
  bottom: 30px;
}

.scroll__btn {
  position: absolute;
  font-size: large;
  margin-left: 14px;
  margin-top: 8px;
  z-index: 5;
  color: rgb(254, 254, 254);
}

.scroll__btn__testi {
  position: absolute;
  font-size: large;
  margin-left: 14px;
  margin-top: 8px;
  z-index: 3;
  color: rgb(18, 99, 181);
  right: 15px;
  z-index: 3;
}

.scroll__up__btn {
  width: 40px;
  height: 34px;
  z-index: 5;
  bottom: 30px;
  right: 80px;
}

.about-me-parent {
  max-width: 1000px;
  width: 70%;
}
.about-me-card {
  display: flex;
  width: 100%;
  box-shadow: 0 0px 20px -2px #1f2235;
}
.about-me-profile {
  width: 50%;
  background-image: url("../../assets/AboutMe/aboutMe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.about-me-details {
  width: 48%;
  text-align: justify;
  padding: 30px;
}
.about-me-description {
  font-size: 14px;
}
.about-me-highlights {
  margin: 80px 0;
}
.highlght-heading {
  font-family: "Poppins Bold";
  font-size: 16px;
  text-decoration: solid;
  /* font-style: italic; */
  margin: 0 0 5px 0;
}
.highlight {
  display: flex;
  align-items: center;
  margin: 5px 0;
  font-size: 14px;
}
.highlight-blob {
  height: 12px;
  width: 12px;
  margin: 0 10px 0 0;
  background-color: #ff5823;
  border-radius: 50%;
}
.about-me-options .highlighted-btn {
  margin: 0 0 0 30px;
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .about-me-parent {
    width: 88%;
  }
}
@media only screen and (max-width: 898px) {
  .about-me-profile {
    display: none;
  }
  .about-me-details {
    width: 100%;
  }
}
@media only screen and (max-width: 466px) {
  .about-me-options {
    display: flex;
    flex-direction: column;
  }
  .about-me-options .highlighted-btn {
    margin: 24px 0 0 0 !important;
  }
  .about-me-options button {
    width: 100%;
  }
}
